<!DOCTYPE html>
<html>
  <%- include('./common/head') -%>
  <body>
    <div class="container">
      <% if (user) { %>
        <div>
          <div class="title">
            현재 상태
          </div>
          <div>
            로그인
          </div>
          <div class="title">
            사용자명
          </div>
          <div>
            <%= user.username %>
          </div>
          <button onclick="logout()" type="button" class="btn btn-secondary mt-20">로그아웃</button>
        </div>
      <% } else { %>
        <div class="title">
          현재 상태
        </div>
        <div>
          비로그인
        </div>
        <button onclick="login()" type="button" class="btn btn-secondary mt-20">로그인</button>
        </div>
      <% } %>
    </div>

    <%- include('./common/javascript') -%>
      <script>
        function login() {
          window.location.href = "/login";
        }

        function logout() {
          var inputName = $('#inputName').val();
          // 세션을 지워야함

          $.post("/api/v1/logout", {
            inputName: inputName
          })
            .done(function (data) {
              if (data.result === 'fail') {
                alert('로그아웃 실패')
              } else {
                window.location.href = "/login";
              }
            });
        }
      </script>
  </body>
</html>