<!DOCTYPE html>
<html>
<%- include('./common/head') -%>

  <body>
    <div class="container w100">
      <% if (user) { %>
        <div class="title">
          현재 상태
        </div>
        <div>
          로그인
        </div>
        <div class="title">
          사용자명
        </div>
        <div id="username">
          <%= user.username %>
        </div>
        <button onclick="logout()" type="button" class="loginBtn btn btn-secondary mt-20">로그아웃</button>

        <div>
          <button onclick="goModify()" type="submit" class="btn btn-light">회원수정</button>
        </div>

        <div class="col">
          <button class="btn btn-secondary insertBtn" onclick="goboardWirte()">글쓰기</button>
        </div>

        <% } else { %>
          <div class="title">
            현재 상태
          </div>
          <div>
            비로그인
          </div>
          <button onclick="login()" type="button" class="loginBtn btn btn-secondary mt-20">로그인</button>
          <% } %>

              
           </div>
         </div>

            <div class="row mt-20 mt-10">
              <input class='form-control input300 ml-10 mt-10 mb-15' type="text" id="searchTodo"
                placeholder="검색어를 입력하세요">
              <div class="col">
                <button class="btn btn-primary ml-10 mt-10">검색</button>
              </div>
            </div>

    </div>


    


    <div class="todo_list mt-20">
      <h2>게시판 출력</h2>

      <table id="todo_list">       
        <tr>
          <th>no</th>
          <th>title</th>
          <th>user_id</th>
          <th class="content">content</th>
          <th>board_type</th>
          <th>조회수</th>
        </tr>
    
      </table>
    </div>



    
    <div class="parah" id="parah">댓글입력</div>

    <ul class="pagination">
      <li class="page-item">
        <a class="page-link" href="#" aria-label="Previous">
          <span aria-hidden="true">&laquo;</span>
        </a>
      </li>


      
      <% for(i=1;i<10;i++){ %>

        <li class="page-item"><a class="page-link" href="board/read/page/">
            <%= {i} %>
          </a></li>

        <% } %>
          <li class="page-item">
            <a class="page-link" href="#" aria-label="Next">
              <span aria-hidden="true">&raquo;</span>
            </a>
          </li>
    </ul>

   
    <!-- <input type="text" id="inputTodo2"> -->
   

    <%- include('./common/javascript') -%>

    



      <script>

        function goboardWirte() {
          window.location.href = "/board_write";

        }

        function goModify() {
          window.location.href = "/usermodify";
        }

        // enter key bind
        $("#inputText").keydown(function (key) {
          if (key.keyCode == 13) {
            insertTodo();
          }
        });

        function readTodo() {
          $.post("/api/vi/board/read/", {
            // pass
          }).done(function (data) {
            var todos = data.data;
            console.log('todos = ', todos);
            todos.forEach(el => {
              const content = `                      
          <tr id="row_${el.bbs_eq}">
            <td>
              <span id="bbs_eq">${el.bbs_eq}</span>
            </td>  
            <td>
              <a href="/board_view?bbs_eq=${el.bbs_eq}"> ${el.title} </a>
            </td>     
            <td>              
               ${el.user_eq}
            </td>       
            <td>              
              ${el.content}
            </td>
            <td>
              ${el.board_type}
            </td>
            <td>
              ${el.count}
            </td>           
          </tr>          
          `
              $('#todo_list').append(content);
            });

          })
        }
          
        
        $(function () {
          readTodo();
        })

        

        function enterkey(id) {
          if (window.event.keyCode == 13) {
            updateTodo(id)
          }
        }

        function deleteTodo(id) {
          console.log('id = ', id)
          var inputTodo = $('#inputTodo').val();
          console.log("inputTodo => ", inputTodo)
          $.post("/api/vi/board/delete/", {
            id: id
          }).done(function (data) {
            if (data.result === 'fail') {
              Swal.fire({
                icon: 'error',
                title: '삭제!',
                text: '실패!'
              })
            } else {
              $('#row_' + id).remove();
            }
          })
        }  
            

        function login() {
          window.location.href = "/login";
        }

        function logout() {
          var inputName = $('#inputName').val();
          $.post("/api/v1/logout", {
            inputName: inputName
          }).done(function (data) {
            if (data.result === 'fail') {
              alert('로그아웃에 실패하였습니다.')
            } else {
              window.location.href = "/";
            }
          });
        }
      </script>
  </body>

</html>