<!DOCTYPE html>
<html>
<head>
  <title>express tutorial</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link href="/css/bootstrap.min.css" rel="stylesheet">
  <link href="/css/style.css" rel="stylesheet">
</head>
<body>

  <div class="container">
    <div class="regist-box">   
        <h1>
            인덱스
        </h1>   
        <div>
            현재 로그인 상태
        </div>      
        <% if (user) { %>
        <div>
            <div>로그인 -> 사용자명 : <span><%= user.username %></span></div>
            <button onclick="logout()" type="button" class="btn btn-primary">로그아웃</button>
        </div>      
        <% } else { %>
        <div>
            비로그인
            <button onclick="login()" type="button" class="btn btn-primary">로그인</button>
        </div>  
        <% } %>
    </div>
  </div>




  <script src="/js/jquery-3.5.1.min.js"></script>
  <script src="/js/bootstrap.bundle.min.js"></script>
  <script>
      function login() {
        window.location.href = "/login";
      }

      function logout() {
        // 세션을 지워야함
        window.location.href = "/login";
      }
  </script>
</body>
</html>


