<!DOCTYPE html>
<html>
  <%- include('./common/head') -%>
<body>

  <div class="container">
    <div class="regist-box">   
      <h1 class="text-center">
        회원가입
      </h1>   
      <div class="mb-3">
        <label for="inputName" class="form-label">이름</label>
        <input type="text" class="form-control" id="inputName">
      </div>
      <div class="mb-3">
        <label for="inputPw" class="form-label">비밀번호</label>
        <input type="password" class="form-control" id="inputPw">
      </div>
      <div>
        <button onclick="regist()" type="submit" class="btn btn-secondary w-100p mb-15">회원가입</button>
      </div>
      <div>
        <button onclick="goLogin()" type="submit" class="btn btn-light w-100p">로그인 페이지 이동</button>
      </div>
    </div>
  </div>

  <%- include('./common/javascript') -%>
  <script>

    $("#inputPw").keydown(function(key) {
      if (key.keyCode == 13) {
        regist();
      }
    });

    function regist() {
      var inputName = $('#inputName').val();
      var inputPw = $('#inputPw').val();

      console.log('inputName = ', inputName)
      console.log('inputPw = ', inputPw)      

      $.post( "/api/v1/regist", {         
        inputName: inputName,
        inputPw: inputPw
      })
      .done(function( data ) {
        if (data.result === 'fail') {
          // alert('회원가입에 실패하였습니다.')
          Swal.fire({
            icon: 'error',
            title: '회원가입',
            text: '회원가입에 실패하였습니다.'
          })
        } else {
          // alert('회원가입 성공!');
          
          Swal.fire({
            icon: 'success',
            title: '회원가입',
            text: '회원가입이 완료되었습니다.'
          }).then((result) => {
            if (result.isConfirmed) {
              window.location.href = "/login";
            } else if (result.isDenied) {
              // pass
            }
          })
        }
      });
    }

    function goLogin() {
      window.location.href = "/login";
    }
  </script>
</body>
</html>


