<!DOCTYPE html>
<html>
<head>
  <title>express tutorial</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link href="/css/bootstrap.min.css" rel="stylesheet">
  <link href="/css/style.css" rel="stylesheet">

  <style>
      .title {
        font-size: 20px;
      }

      .title-sub {
        color: #949494;
        font-size: 15px;
      }

      .btn-custom {
        border: solid 1px #c044ff;
        width: 100px;
        padding: 10px;
        text-align: center;
        color: #ffffff;
        background: #c044ff;
        border-radius: 5px;
        cursor: pointer;
        transition: 0.5s;
      }
      .btn-custom:hover {
        background: #ffffff;
        color: #c044ff;
      }
  </style>
</head>
<body>

  <div class="container debug">
    <div class="row">
        <div class="title text-center">express tutorial</div>
        <div class="title-sub text-center">i study express</div>
    </div>
    <div class="row">
        <div class="col-sm">
            <button type="button" class="btn btn-success">Success</button>
        </div>
        <div class="col-sm">
            <div class="btn-custom">
                button
            </div>
        </div>
      </div>
  </div>



  <script src="/js/jquery-3.5.1.min.js"></script>
  <script src="/js/bootstrap.bundle.min.js"></script>
  <script>
      // code
  </script>
</body>
</html>


