.debug {
  border: solid 1px red;
}

.box {
  border: solid 2px black;
}

.w-100p {
  width: 100%
}

.mb-15 {
  margin-bottom: 15px;
}

.mt-10 {
  margin-top: 10px;
}

.mt-20 {
  margin-top: 20px;
}

.ml-10 {
  margin-left: 10px;
}

.ml-30 {
  margin-left: 30px;
}

.insertBtn {
  margin-left: 20px;
  margin-top: 25px;
}

.w200 {
  width: 200px;
  max-width: 100%;
}

.w100 {
  width: 100%;
  max-width: 100%;
}

.input300 {
  width: 300px;
}
.input600 {
  width: 600px;
}

.height30 {
  height: 30px;
}

.regist-box {
  padding: 30px;
  width: 500px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 150px;
  border-radius: 8px;
  border: solid 1px #c7c7c7;
}
.todo_list2 {
  margin-left: 20px;
  margin-right: 20px;
  border-spacing: 10px;
  border-top: 1px solid #444444;
  border-collapse: collapse;
}
.todo_list2 th, td {
  border-bottom: 1px solid #444444;
    padding: 10px;
    text-align: center;
}

td:nth-of-type(5) { display: none; }   

.todo_list {
  margin-left: 20px;
  margin-right: 20px;
  border-spacing: 10px;
  border-top: 1px solid #444444;
  border-collapse: collapse;
}

.todo_list th, td {
  border-bottom: 1px solid #444444;
    padding: 10px;
    text-align: center;
}

.todo_list th:nth-child(2n), .todo_list td:nth-child(2n) {
  background-color: #bbdefb;
}
.todo_list th:nth-child(2n+1), .todo_list td:nth-child(2n+1) {
  background-color: #e3f2fd;
}

.todo_list2 {
  margin-left: 20px;
  margin-right: 20px;
  border-spacing: 10px
}

.todo_list tr td {
  width : 80px;
}

.todo_list tr .content {
  width: 350px

}

.parah {
  width : 500px;
}
.title {
  font-weight: bold;
  margin-top: 20px;
}

.main_list {
  margin-left: 30px;
}

